        /*header*/
        
        .navbar {
            background-color: #280031 !important;
        }
        
        .navbar-brand img,
        .h1img {
            height: 70px;
            width: 115px;
            background-image: none;
        }
        
        .navbar-toggler {
            padding: 0 !important;
            padding-top: 14px !important;
        }
        
        .navbar-toggler-icon {
            font-size: 25px !important;
            color: white
        }
        
        .nav-item {
            margin-left: 50px;
        }
        
        .nav-item a {
            color: white;
            font-weight: bold;
        }
        
        .arba7Result div span {
            font-weight: bold;
        }
        
        .arba7Result ul {
            list-style: square;
        }
        /********************/
        
        .mainHome {
            height: 110vh;
            background: url('../public/assets/images/Home/bg2.png') center center/cover;
        }
        
        .allThings {
            background-color: #E8F953;
            margin-top: 50px;
            padding: 15px;
            border-radius: 3px;
        }
        
        .allThings input,
        .allThings select {
            border: 0;
        }
        
        footer {
            background-color: #280031 !important;
            font-weight: bold;
        }
        
        footer p {
            color: white !important
        }
        
        footer a {
            color: #E8F953;
            text-decoration: none;
        }
        
        .holdAll {
            background-color: white;
            margin-top: 50px;
            padding: 15px;
            border-radius: 3px;
        }
        
        .holdAll h2 {
            padding: 10px;
            margin-bottom: 10px;
            text-align: center;
        }
        
        .holdAll img {
            width: 80px;
            height: 75px
        }
        
        .holdTable {
            max-height: 430px
        }
        
        .yshoulddiv {
            text-align: center;
            padding: 20px 10px 25px 10px;
            background-color: #280031 !important;
            margin-bottom: 12px;
            border-radius: 3px;
            color: white;
            font-weight: bold;
        }
        
        .arba7Result ul {
            padding: 20px 10px 25px 10px;
            background-color: #280031 !important;
            margin-bottom: 12px;
            border-radius: 3px;
            color: white;
            font-weight: bold;
            list-style: none;
        }
        
        .profitDivR {
            border-top: 2px solid white;
            padding: 3px;
            margin: 3px;
            text-align: center;
        }
        
        .savebtn {
            background-color: #E8F953 !important;
            color: #280031 !important;
            border: 2px solid #280031 !important;
            border-radius: 0 !important
        }